# dependencies
node_modules/
services/node_modules/

# expo/react native
.expo/
dist/
web-build/
android/app/build/
services/android/app/build/

# env secrets
.env
*.env
services/.env
services-backend/.env

# backend build files
services-backend/target/

# logs
*.log
npm-debug.log*
